*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
.logo{
    margin-left: 50px;
}
nav{
    width: 100%;
    height: 80px;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 15px;
    color: black;
}

nav #boot{
    background-color:transparent;
    padding: 15px  20px;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 20px;
    color: black;
}

/* ...........................Hero section......................... */

.hero{
    display: flex;
}

.left{
    flex-basis: 50%;
    /* background-color: rgb(211, 211, 27); */
    text-align: start;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
    margin-left: 95px;

}
.left h1{
    margin-top: 60px;
    font-size: 50px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
.left p{
   
    margin-bottom: 15px;
    /* text-align: center; */
    /* margin-left: 40px; */
}
#dodo{
    width: 220px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
}
.right{
    flex-basis: 50%;
}

/* ............................Brand.............................. */

.brand{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.service{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 70px;
    /* background-color: aquamarine; */
    margin-top: 100px;
    margin-left: 95px;
}
.service h1{
    font-size: 32px;
    /* margin-left: 10px; */
    background-color: #B9FF66;
    padding: 10px 15px;
    border-radius: 8px;
}
.service p{
   
    margin-left: 70px;
}


/* ............................Card section................................. */

.card-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    
}


.card-one{
    display: flex;
    align-items: center;
    background-color: #B9FF66;
    border-radius: 15px;
    border-bottom: 5px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 20px;
}

.arrow-state{
    display: flex;
    align-items: center;
 margin-top: 20px;

}

label{
    margin-left: 10px;
}

.pay-per{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}

#one{
    background-color: white;
}


/* ...............................folded card................................. */

.inside{
    margin-top: 50px;
}

form{
    margin-top: 50px;
    border-radius: 30px;
    background-color: #F3F3F3;
}

.form{
    display: flex;
}

.input-feild{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
 justify-content: space-evenly;
}
input{
    padding: 15px 20px;
}
#send{
    padding: 15px 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

textarea{
    padding: 15px;
}